-@feed.each_with_index do |channel, i|
  #accordion2.accordion
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapse#{i}"}
          =channel.title
          = channel.feed_entries.entries.class
          =channel.url
      %div{ :id => "collapse#{i}", :class=>"accordion-body collapse" }
        .accordion-inner
          -channel.feed_entries.each do |entry|
            %p
              %h3
                =entry.name
            %p
              =entry.url
            %p
              =entry.summary



