#accordion2.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseOne"}
        =@title
    #collapseOne.accordion-body.collapse
      .accordion-inner
        -@feed.entries.each do |entry|
          %p
            %h3
              =entry.title
          %p
            =entry.url
          %p
            =entry.summary.sanitize!