-e=0
-@news.each do |key, value|
-e+=1
  #accordion2.accordion
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapse#{e}"}
          -title_name=Feed.find_by(:url=>key)
          -if title_name!=nil
            =title_name.title
          =key
      %div{ :id => "collapse#{e}", :class=>"accordion-body collapse" }
        .accordion-inner
          -value.entries.each do |entry|
            %p
              %h3
                =entry.name
            %p
              =entry.url
            %p
              =entry.summary



